body {
     margin: 0;
     padding: 0;
     font-family: "Roboto", "Arial", sans-serif;
     font-size: 16px;
     line-height: 22px;
     font-weight: 500;
     color: #ffffff;
     text-transform: none;
     background-color: #8ca697;
    /*здесь будет слайдер */
}
 a {
     text-decoration: none;
}
 .visually-hidden {
     display: none;
}
 .main-header a, .main-footer a, .breadcrumbs a {
     color: #ffffff;
}
 .main-footer a:hover, .breadcrumbs a:hover {
     color: #d6b299;
}
 .main-footer a:focus, .breadcrumbs a:focus {
     color: #ffbc9e;
}
 .site-navigation-link {
     font-weight: 700;
     line-height: 18px;
     text-decoration: none;
}
 .main-navigation {
     font-weight: 700;
     line-height: 18px;
}
 .site-navigation, .user-navigation, .new-items, .registration, .footer-social, .different-list, .breadcrumbs, .catalog-item {
     list-style: none;
}
 .site-navigation p {
     color: #323232;
     font-size: 14px;
     font-weight: 700;
     line-height: 16px;
}
 .site-navigation a:hover {
     background-color: #f7f6f3;
     color: #323232;
}
 .site-navigation a:focus {
     color: #323232;
    /*box-shadow: inset 0 2px 1px #696969;
    */
     background-color: #ededed;
     background-color: #f8f7f4;
}
 .site-navigation a:active {
     background-color: #d07058;
}
 .new-items a {
     color: #323232;
     font-size: 14px;
     font-weight: 400;
     line-height: 16px;
}
 .new-items a:active, .site-navigation a:active {
     color: #ffffff;
     background-color: #d07058;
}
 .new-items a:hover {
     background-color: #fbded7;
}
 .new-items a:focus {
     background-color: #f6b5a5;
}
 .search form {
    /*width: 341px;
     height: 84px;
    */
     box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
     background-color: #f8f7f4;
}
 .search a:hover, .login-link a:hover {
     color: #323232;
     background-color: #f8f7f4;
}
 .registration a {
     color: #323232;
     font-size: 13px;
     font-weight: 400;
     line-height: 24px;
}
 .hidden-block, .filter {
     display: none;
    /*width: 143px;
     height: 171px;
    */
    /*box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    */
     background-color: #f8f7f4;
}
 .site-navigation-link:hover + .hidden-block {
     display: block;
}
 .login-link:hover + .filter {
     display: block;
}
 .enter button{
    /*box-shadow: 0 1px 2px #ac1000;
    */
     background-color: #e84d37;
     background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
     color: #fefefe;
     font-size: 18px;
     font-weight: 700;
     line-height: 24px;
}
 .enter button:hover {
    /*box-shadow: 0 2px 2px #ac1000;
    */
     background-color: rgba(255, 255, 255, 0.2);
     background-color: #ffffff;
     background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
}
 .enter button:focus {
    /*box-shadow: inset 0 2px 2px #942718;
    */
     background-color: rgba(0, 0, 0, 0.07);
     background-color: #ffffff;
     background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
}
 .busket {
     font-size: 14px;
     font-weight: 500;
     line-height: 16px;
}
 .shoping a {
    /*box-shadow: 0 1px 2px #ac1000;
    */
     background-color: #e84d37;
     background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
     color: #fefefe;
     font-size: 18px;
     font-weight: 700;
     line-height: 24px;
}
 .work-time {
     font-size: 14px;
     font-weight: 700;
     line-height: 16px;
}
 .work-time a {
     font-size: 22px;
     font-weight: 700;
     line-height: 24px;
}
 .catalog-item:hover {
     background-color: #9bafa3;
}
 .catalog-item a{
    /*box-shadow: 0 1px 2px #ac1000;
    */
     display: none;
     background-color: #e84d37;
     background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
     color: #fefefe;
     font-size: 18px;
     font-weight: 700;
     line-height: 24px;
}
/*придумать чтобы видно было ссылку при наведении*/
 .feathures {
     background-color:#eae1cb;
    /*указать позицию*/
}
 .feathures-title {
     color: #323232;
     font-size: 24px;
     line-height: 30px;
     font-weight: 500;
}
 .feathures-title-current {
     color: #323232;
     font-size: 16px;
     font-weight: 400;
     line-height: 22px;
    /*текст в авокодо разьит на 2 блока и показывает размеры только одного из них, нужно подумать как прописать это. Возможно с помошью колумнс*/
}
 .subscription {
     background-color: #f8f7f4;
    /*отдельно прописать границы, закругление, цвет и т.д.*/
}
 .subscription p {
     color: #5a5a5a;
     font-weight: 400;
}
 .send button {
    /*box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    */
     background-color: #e84d37;
     background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
     color: #fefefe;
     font-size: 18px;
     font-weight: 700;
     line-height: 24px;
}
 .send button:hover {
    /*box-shadow: 0 2px 2px #ac1000;
    */
     background-color: rgba(255, 255, 255, 0.2);
     background-color: #ffffff;
     background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
}
 .send button:focus {
    /*box-shadow: inset 0 2px 2px #942718;
    */
     background-color: rgba(0, 0, 0, 0.07);
     background-color: #ffffff;
     background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
}
 .news {
     background-color: #f8f7f4;
}
 .news-title {
     color: #323232;
}
 .news a {
     color: #323232;
     font-size: 24px;
     font-weight: 700;
     line-height: 30px;
}
 .different {
     font-size: 13px;
     font-weight: 700;
     line-height: 18px;
}
 .footer-copyright {
     color: #fefefe;
     font-size: 12px;
     font-weight: 400;
     line-height: 18px;
}
 